venv
chromedriver-linux64
posts
x_scraper_2.py
x_scraper_3.py
temp/temp.py
temp/all_tweets_processed_english.csv
temp/politician.zip
temp/posts.zip
node_modules

# Model directories and files
backend/app/utils/final_bert_model/
backend/app/utils/final_model/
backend/app/utils/Models/
backend/app/utils/sentiment_x_models/
backend/app/utils/test_radical_image/
backend/app/utils/xlnet_model/
backend/app/utils/__pycache__/
backend/app/utils/*.safetensors
backend/app/utils/*.bin
backend/app/utils/*.json
backend/app/utils/*.txt
backend/app/utils/*.model

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
downloaded_images/
x_image_classification_model.keras
vgg16_model_2.keras
xlnet_model/
xlnet_model_2/
x_image_classification_model/
.env
__pycache__/
/__pycache__
/temp