flask
Flask-SQLAlchemy
torch
Pillow>=9.0.0
pandas
python-dotenv
keras
flask_migrate
flask_cors
transformers
tensorflow
selenium
langdetect
googletrans==4.0.0rc1
sentencepiece
gdown
scikit-learn
numpy
requests>=2.28.0
requests_oauthlib
google-auth>=2.0.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.0.0
google-generativeai>=0.3.0